/* Templates for HTML preview */
.template1 { color:#ff4081; font-family:Arial; }
.template2 { color:#1976d2; font-family:Helvetica; }
.template3 { color:#b8860b; font-family:Times; }
.template4 { color:#388e3c; font-family:Helvetica; font-style:italic; }
.template5 { color:#d32f2f; font-family:Courier; font-weight:bold; }
.template6 { color:#9c27b0; font-family:Helvetica; }
.template7 { background:#212121; color:#fff; font-family:Helvetica; padding:10px; border-radius:10px; }
